body { 
  background: url("https://corpartes.cl/content/uploads/2019/03/fachada-ca600.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  backdrop-filter: blur(5px);
}

#wrapper{
  height:500;
  background-color: rgba(255, 255, 255, 0.7);
}
#wrapper2{
  height : 0px;
  overflow : auto;
}
